h1{
    text-align: center;
    background-color: rgb(89, 89, 244);
    color: white;
}

#search{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 120px;
}

input{
    width: 192px;
    margin-bottom: 10px;
}

button{
    width: 200px;
    background-color:rgb(97, 172, 204); 
    color:white;
    margin-bottom: 10px;
}

main{
    display: flex;
    flex-direction: row;
}

#current-weather{
    background-color: rgb(17, 17, 49);
    color: white;
}

#weather-forecast{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
}

#history-button{
    background-color:white; 
    color:black;
}

div{
    margin-right: 30px;
    padding: 5px;
    background-color: rgb(17, 17, 49);
    color: white;
    margin-bottom: 10px;
}

